@{
    ViewData["Title"] = "Contact";
}
<!DOCTYPE html>
<html>


        <section class="portfolio-block hire-me">
            <div class="container">
                <div class="heading">
                    <h2>contact</h2>
                </div>
                <form asp-action="LeaveMessage">
                    <div class="mb-3"><label class="form-label" for="Name">Name</label><input class="form-control" name="Name"  id="Name" placeholder="Your Name"></div>
                    <div class="mb-3"><label class="form-label" for="Email">Email</label><input class="form-control" name="Email" id="Email" placeholder="name@example.com" ></div>
                    <div class="mb-3"><label class="form-label" for="Message">Message</label><textarea class="form-control" name="Message" id="Message" placeholder="Leave a comment here"></textarea></div>
                    <div class="mb-3">
                        <div class="row">
                            
                            <div class="col-md-6 button"><button class="btn btn-primary d-block w-100" type="submit">Send a email</button></div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    

</html>