@{
    ViewData["Title"] = "CV";
}
<!DOCTYPE html>
<html>


       
        <section class="portfolio-block cv">
            <div class="container">
                <div class="work-experience group">
                    <div class="heading">
                        <h2 class="text-center">Work Experience</h2>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-md-6">
                                <h3>Good2U (dollar shop) casher</h3>
                                <h4 class="organization">Invercargill</h4>
                            </div>
                            <div class="col-md-6"><span class="period">11/2022-&nbsp;<strong>Present</strong><br><br></span></div>
                        </div>
                        <p class="text-muted">Operate cash register or point of sale devices, as needed, and uses value-added suggestive-selling techniques to generate additional sales opportunities<br><br><br></p>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-6">
                                <h3>Global bite cafe Runner</h3>
                                <h4 class="organization">Invercargill</h4>
                            </div>
                            <div class="col-md-6"><span class="period">10/2021 - 3/2022</span></div>
                        </div>
                        <p class="text-muted">Learns team&nbsp;effectiveness skills; works with others to achieve team goals<br><br></p>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-md-6">
                                <h3>Volunteer Court Controller/Runner&nbsp;</h3>
                                <h4 class="organization">Invercargill</h4>
                            </div>
                            <div class="col-md-6"><span class="period">11/2020 -&nbsp;<strong>11/2020</strong><br><br></span></div>
                        </div>
                        <p class="text-muted">Worked to maintain outstanding attendance record, consistently arriving to work ready to start immediately.<br><br><br><br><br></p>
                    </div>
                </div>
                <div class="education group">
                    <div class="heading">
                        <h2 class="text-center">Education</h2>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-md-6">
                                <h3>Diploma<strong>&nbsp;of Information Technology</strong><br><br></h3>
                                <h4 class="organization"><em>Southern Institute of Technology</em><br></h4>
                            </div>
                            <div class="col-6"><span class="period">02/2020 - 11/2020</span></div>
                        </div>
                        <p class="text-muted">Graduated on Dec 2020<br>Learn basic computer science theory such as my sql and database based on java<br><br></p>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-md-6">
                                <h3>Bachelor of Information Technology</h3>
                                <h4 class="organization"><em>Southern Institute of Technology</em></h4>
                            </div>
                            <div class="col-md-6"><span class="period">02/2021 - 11/2022</span></div>
                        </div>
                        <p class="text-muted"><em>Expected to Graduate in December 2022</em><br><br></p>
                    </div>
                </div>
                <div class="group">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="skills portfolio-info-card">
                                <h2>Skills</h2>
                                <h3>HTML</h3>
                                <div class="progress">
                                    <div class="progress-bar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"><span class="visually-hidden">100%</span></div>
                                </div>
                                <h3>CSS</h3>
                                <div class="progress">
                                    <div class="progress-bar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"><span class="visually-hidden">90%</span></div>
                                </div>
                                <h3>JavaScript</h3>
                                <div class="progress">
                                    <div class="progress-bar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"><span class="visually-hidden">80%</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="contact-info portfolio-info-card">
                                <h2>Contact Info</h2>
                                <div class="row">
                                    <div class="col-1"><i class="icon ion-person icon"></i></div>
                                    <div class="col-9"><span>SOOJIN KWON</span></div>
                                </div>
                                <div class="row">
                                    <div class="col-1"><i class="icon ion-ios-telephone icon"></i></div>
                                    <div class="col-9"><span>+64 20 4016 1720</span></div>
                                </div>
                                <div class="row">
                                    <div class="col-1"><i class="icon ion-at icon"></i></div>
                                    <div class="col-9"><span>soojinkwon96@gmail.com</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
</html>