@{
    ViewData["Title"] = "Home Page";
}

 <section class="portfolio-block block-intro">
            <div class="container">
                <div class="avatar" style="background-image: url(&quot;assets/img/avatars/10.24(권수진)%20사본.jpg&quot;);"></div>
                <div class="about-me">
                    <p>Hello! I am <strong>SOOJIN KWON</strong>. Positive, infectious personality with excellent<br>interpersonal and relationship-building skills. Passionate and motivated, with<br>a drive for excellence.</p><a class="btn btn-outline-primary" role="button" href="#">Hire me</a>
                </div>
            </div>
        </section>
        <section class="portfolio-block photography">
            <div class="container">
                <div class="row g-0">
                    <div class="col-md-6 col-lg-4 item zoom-on-hover"><a href="#"><img class="img-fluid image" src="assets/img/nature/화면%20캡처%202022-05-30%20233420.png"></a></div>
                    <div class="col-md-6 col-lg-4 item zoom-on-hover"><a href="#"><img class="img-fluid image" src="assets/img/nature/화면%20캡처%202022-05-30%20234353.png"></a></div>
                    <div class="col-md-6 col-lg-4 item zoom-on-hover"><a href="#"><img class="img-fluid image" src="assets/img/tech/화면%20캡처%202022-05-31%20011050.png"></a></div>
                </div>
            </div>
        </section>
        <section class="portfolio-block call-to-action border-bottom">
            <div class="container">
                <div class="d-flex justify-content-center align-items-center content">
                    <h3>Like what you see?</h3><button class="btn btn-outline-primary btn-lg" type="button">Hire me</button>
                </div>
            </div>
        </section>
        <section class="portfolio-block skills">
            <div class="container">
                <div class="heading">
                    <h2>Special Skills</h2>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card special-skill-item border-0">
                            <div class="card-header bg-transparent border-0"><i class="icon ion-ios-star-outline"></i></div>
                            <div class="card-body">
                                <h3 class="card-title">Web Design</h3>
                                <p class="card-text">Understand the key concepts of visual design using HTML and understanding CSS.<br><br></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card special-skill-item border-0">
                            <div class="card-header bg-transparent border-0"><i class="icon ion-ios-lightbulb-outline"></i></div>
                            <div class="card-body">
                                <h3 class="card-title">Interface Design</h3>
                                <p class="card-text">Developing a good design while investing the right design software.<br><br></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card special-skill-item border-0">
                            <div class="card-header bg-transparent border-0"><i class="icon ion-ios-gear-outline"></i></div>
                            <div class="card-body">
                                <h3 class="card-title">Database</h3>
                                <p class="card-text">Using a powerful relational database management system&nbsp; manipulate data and build queries that communicate with otehr tables.&nbsp;<br><br><br></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
