@{
    ViewData["Title"] = "Projects";
}

        <section class="portfolio-block projects-cards">
            <div class="container">
                <div class="heading">
                    <h2>Recent Work</h2>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-4">
                        <div class="card border-0"><a href="#" data-bs-target="https://www.kobeauty.net/"><img class="card-img-top scale-on-hover" src="assets/img/nature/화면%20캡처%202022-05-30%20233420.png" alt="Card Image"></a>
                            <div class="card-body">
                                <h6><a href="#">KO&nbsp; Beauty</a></h6>
                                <p class="text-muted card-text">Invercargill nail and beauty website https://www.kobeauty.net/</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card border-0"><a href="#"><img class="card-img-top scale-on-hover" src="assets/img/nature/화면%20캡처%202022-05-30%20234353.png" alt="Card Image"></a>
                            <div class="card-body">
                                <h6><a href="#">Flight Booking Application</a></h6>
                                <p class="text-muted card-text"><strong>OBJECT ORIENTED DATABASES</strong>&nbsp;<strong>JADE PROJECT</strong><br><br></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card border-0"><a href="#"><img class="card-img-top scale-on-hover" src="assets/img/nature/화면%20캡처%202022-05-31%20011050.png" alt="Card Image"></a>
                            <div class="card-body">
                                <h6><a href="#">FashLUX​<br><br></a></h6>
                                <p class="text-muted card-text">Ecommerce website selling clothing, bags, accessories.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card border-0"><a href="#"></a>
                            <div class="card-body">
                                <h6></h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card border-0"><a href="#"></a>
                            <div class="card-body">
                                <h6></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
  
</html>